<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>
            
            {% if user.level_id <= 6 %}
            <li class="nav-item">
                <a class="nav-link" href="/usuarios">
                    <i class="bi bi-people"></i>
                    Usuários
                </a>
            </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/materias">
                    <i class="bi bi-book"></i>
                    Matérias
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/turmas">
                    <i class="bi bi-collection"></i>
                    Turmas
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/relatorios">
                    <i class="bi bi-graph-up"></i>
                    Relatórios
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/perfil">
                    <i class="bi bi-person"></i>
                    Meu Perfil
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/sobre">
                    <i class="bi bi-info-circle"></i>
                    Sobre
                </a>
            </li>
        </ul>
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Configurações</span>
        </h6>
        
        <ul class="nav flex-column mb-2">
            {% if user.level_id <= 3 %}
            <li class="nav-item">
                <a class="nav-link" href="/configuracoes">
                    <i class="bi bi-gear"></i>
                    Sistema
                </a>
            </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="bi bi-box-arrow-right"></i>
                    Sair
                </a>
            </li>
        </ul>
    </div>
</nav>